mat-form-field {
  width: 100%;
}
mat-spinner {
  margin: auto;
}
button {
  margin: auto;
  width: 100%;
}
mat-card {
  margin: auto;
  height: 80%;
}

.forgot_password {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  font-size: 100;
  width: 8rem;
  float: right;
}

.sign_up {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  font-size: 100;
  width: 8rem;
  float: left;
}
