<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{myInfo?.username }}</mat-card-title>
      <mat-card-subtitle>{{myInfo?.clubName }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="myInfo?.imagePath" [alt]="myInfo?.username">
    <mat-card-content>
      <p>
        {{myInfo?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Follow</button>
      <button mat-button>Message</button>
    </mat-card-actions>
  </mat-card>
  