<mat-card class="card__forgot__password">
    <form  (submit)="forgotPassword(fForm)" #fForm="ngForm" >
        <mat-form-field class="email__forgot__password" appearance="outline">
            <input matInput name="email" required email placeholder="Email:" #emailInput="ngModel" ngModel type="email">
            <mat-error *ngIf="!emailInput">Please enter a valid email</mat-error>
    
        </mat-form-field>
    
        <button class="btn__forgot__password" mat-stroked-button type="submit" color="primary" >
            <h4><strong>Submit</strong></h4>
        </button>
    
    </form>
</mat-card>
