.card__reset__password {
  width: 60%;
  top: 10rem;
  left: 20%;
  box-shadow: 0 2rem 3rem rgba(78, 59, 185, 0.1);

  position: relative;
}

.email__reset__password {
  width: 100%;
}

.btn__reset__password {
  margin-top: -1rem;
  width: 100%;

  height: 4rem;
}
