<div *ngIf=" isLoading" style="text-align:center">
    <lottie-animation-view [options]="lottieSpinner" [width]="500" [height]="350">
    </lottie-animation-view>
</div>

<mat-card class="post_card" *ngFor="let post of posts">
    <strong>{{post.title}}</strong>
    <br><br>
    <div class="post-image"  >
        <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <br><br>
    <p>{{post.content}}</p>
    <br>

    <mat-action-row>

        <button *ngIf="userIsAuthenticated"
         (click)="getCommentsOnOnePost(post._id)" 
         mat-stroked-button color="primary" >Comments</button>
    
    
    
            <button mat-button *ngIf="userIsAuthenticated" color="primary"
            (click)="openCommentDialog(post._id)"><mat-icon>comment</mat-icon></button>
    
            
            <button mat-button *ngIf="userIsAuthenticated && userId == post.creator" color="warn"
                (click)="onDelete(post._id)"><mat-icon>delete</mat-icon></button>
        </mat-action-row>
        <br>

    <div *ngFor="let commentData of comments">
    <p class="comment_reference"  *ngIf="post._id === commentData.postId" [routerLink]="['/user',commentData.senderId.username]">
        {{commentData.comment | json}} postedBy @{{commentData.senderId.username | json}}</p>
    </div>
    



</mat-card>


<mat-card class="side_bar">
    <mat-card-title>USERS</mat-card-title>
  
    <mat-action-row>
        <button 
        *ngFor="let user of recentUsers"  class="side_bar_user_element"
        [routerLink]="['/user',user.username]"
        mat-stroked-button color="primary">
        @{{user?.username}}   <mat-icon>add</mat-icon>   
      </button>
    </mat-action-row>






</mat-card>

<button 
*ngIf="userIsAuthenticated" 
mat-fab 
mat-button (click)="openCreateComponent()" class="fab" color="primary">
    <mat-icon>add</mat-icon>
</button>